<% if @topic4.question4 == 14  %>
  <p>あなたの適職は 日系総合 コンサルティング業界の 業界特化型の 上席コンサルタント</p>
<% end %>
<% if @topic4.question4 == 13 || @topic4.question4 == 15 %>
  <p>あなたの適職は 日系マーケティング リサーチ業界の チーフリーダー</p>
<% end %>
<% if @topic4.question4 == 16 || @topic4.question4 == 18 %>
  <p>あなたの適職は 日系ユーザー系Sier業界の プロジェクトマネージャー</p>
<% end %>
<% if @topic4.question4 == 17 || @topic4.question4 == 20 %>
  <p>あなたの適職は 人材コンサル業界 のマネージャー</p>
<% end %>
<% if @topic4.question4 == 19  %>
  <p>あなたの適職は 専門広告代理店業界の ビジネスプロデューサー</p>
<% end %>
